<table cellspacing="0" cellpadding="10" border="0" style="margin:auto">
  <tr>
    <td>
      <ul style="padding:0">
        <li><a href="mailto:{{ params.contact.email }}">{{ params.contact.email }}</a></li>

        {% if params.author|length > 0 %}

          <li>Madame/Monsieur: <strong>{{ params.author|upper }}</strong></li>

        {% endif %}

        {% if params.phone|length > 0 %}

          <li>Tél: <strong>{{ params.phone }}</strong></li>

        {% endif %}

        {% if params.society|length > 0 %}

          <li>societée: <strong>{{ params.society|upper }}</strong></li>

        {% endif %}

      </ul>
    </td>
    <td style="width:50%"></td>
    <td style="vertical-align:bottom">Envoyé le <strong>{{ params.contact.date|date("d/m/Y G:i", "Europe/Paris") }}</strong> ,</td>
  </tr>

  <tr>
    <td colspan="3" style="background-color:gray;padding:0;">
      <p>Object : <strong>{{ params.contact.subject }}</strong></p>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      {{ params.contact.message|raw }}
    </td>
  </tr>
</table>