{% extends 'base.html.twig' %}

{% block title %} Contact {{ parent() }} {% endblock %}
{% block stylesheets %}
  {{ parent() }}  
  {{ include('_froala/stylesheets.html.twig') }}
{% endblock %}



{% block contentBody %}
  <article id="content">
    <div id="contact">
      <h1>Contact</h1>
      
      <form id="contactForm"  method="post" action="{{ path('contact_new') }}">
<!--    Coordonnées     -->
        <fieldset id="details" class="fieldset">
          <legend>Formulaire de contact</legend>
          <label id="emailLab" class="">
            Votre adresse de messagerie 
            <span class="help-text">(obligatoire)</span>: 
            <input type="text" placeholder="Your@email.com" name="EMAIL" required />
          </label>
          <label id="nameLab">
            Nom 
            <span class="help-text">(facultatif)</span>: 
            <input type="text" name="AUTHOR" />
          </label>
          <label id="phoneLab">
            Téléphone 
            <span class="help-text">(facultatif)</span>: 
            <input type="text" name="PHONE" />
          </label>
          <label id="societyLab">
            Sociétée 
            <span class="help-text">(facultatif)</span>: 
            <input type="text" name="SOCIETY" />
          </label>

          <label id="subjectLab">
            Sujet
            <span class="help-text">(obligatoire)</span>:
            <input type="text" name="SUBJECT" required minLength="10" maxLength="250" />
            <span class="help-text">Doit contenir entre 10 et 250 caractères</span>
          </label>

          <label id="msgLab" for="contactMSG" aria-describedby="">Message
            <span class="help-text">(obligatoire)</span>

          </label>
          <textarea id="contactMSG" name="MESSAGE"></textarea>
        </fieldset>
<!--      reset / submit      -->
        <div class="button-group">
          <input class="button alert" type="reset" value="Abandon" />
          <input class="button success" type="submit" value="Envoyer" />
        </div>
      </form>
      <section id="mailSent" aria-hidden="true" aria-live="polite"></section>
    </div>
  </article>
{% endblock %}

{% block javascripts %}
  {{ parent() }}  
  {{ include('_froala/javascript.html.twig') }}
    
    <script>
      $(function() { 
        $('#contactMSG').froalaEditor(
          {
            enter: $.FroalaEditor.ENTER_P, 
            placeholderText: null,
            charCounterCount: false, 
            toolbarButtons: [
              'fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertFile', 'insertTable', '|', 'insertHR', 'selectAll', 'clearFormatting', '|', 'undo', 'redo'
            ],
            height: 200,
            key: {{ froala_key }}
          }
        ) 
      });
    </script>
    <script src="{{ asset("stylesheets/js/contact-validation.js") }}"></script>
{% endblock %}