{% extends 'base.html.twig' %}

{% block title %} Accueil {{ parent() }} {% endblock %}


{% block leftMenu %}
  {{ render(controller('App\\Controller\\leftMenuController::indexLeftMenu')) }}
{% endblock %}

{% block contentBody %}
  <article id="content">
    <div id="skills">
      <h1>Compétances</h1>
      
        {% for skillImage in skillImages %}
          <section>
            <div class="explain">
              <h2 id="{{ skillImage.skill.anchor }}">{{ skillImage.skill.title }}</h2>
              {{ skillImage.skill.explanation | raw }}
            </div>
            <div class="sticky-container">
              
              {% if IE and '.svg' in skillImage.image.filename %}
                {% set src = asset(skill_dir ~ 'converted/' ~ skillImage.image.filename)|replace({'.svg': '.png'}) %}
                
              {% elseif not IE or '.svg' not in skillImage.image.filename %}
                {% set src = asset(skill_dir ~ skillImage.image.filename) %}
              {% endif %}
              
              {{ dump(src) }}
              <img class="illustration-right" src="{{ src }}" alt="" />
            </div>
          </section>
        {% endfor %}
      
    </div>
  </article>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('stylesheets/js/browser.js') }}"></script>
{% endblock %}