{% extends 'base.html.twig' %}

{% block title %} Accueil {{ parent() }} {% endblock %}


{% block leftMenu %}
  {{ render(controller('App\\Controller\\leftMenuController::indexLeftMenu')) }}
{% endblock %}

{% block contentBody %}
  <article id="content">
    <div id="skills">
      <h1>Compétances</h1>
      
        {% for skillImage in skillImages %}
          <section>
            <div class="explain">
              <h2 id="{{ skillImage.skill.anchor }}">{{ skillImage.skill.title }}</h2>
              {{ skillImage.skill.explanation | raw }}
            </div>
            <img class="illustration-right" src="{{ asset(skill_dir ~ '/' ~ skillImage.image.filename) }}" alt="" />
          </section>
        {% endfor %}
      
    </div>
  </article>
{% endblock %}