{% extends 'base.html.twig' %}

{% block title %} Projets {{ parent() }} {% endblock %}


{% block leftMenu %}
  {{ render(controller('App\\Controller\\leftMenuController::projectsLeftMenu')) }}
{% endblock %}

{% block contentBody %}
  <article id="content">
    <div id="projects">
      <h1>Projets</h1>
      
        {% for project in projects %}
          <section>
            <div class="explain">
              <h2 id="{{ project.anchor }}">{{ project.title }}</h2>
              <p>{{ project.explanation }}</p>
            </div>
            
            <div class="orbit illustration-right" role="region" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; autoPlay:false" data-zoomed="false">
              <div class="orbit-wrapper">
                <div class="orbit-controls">
                  <button class="orbit-previous"><span class="show-for-sr">Précédente</span>&#9664;&#xFE0E;</button>
                  <button class="orbit-next"><span class="show-for-sr">Suivante</span>&#9654;&#xFE0E;</button>
                  <button class="orbit-exit"><span class="show-for-sr">Quitter</span>&#x2716;&#xFE0E;</button>
                </div>
                
                <ul class="orbit-container">
                  <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                      <img src="{{ asset('img/catClinic/catClininc-2.png') }}" alt="" />
                    </figure>
                  </li>
                  <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                      <img src="{{ asset('img/catClinic/catClininc-1.png') }}" alt="" />
                    </figure>
                  </li>
                  <li class="is-active orbit-slide">
                    <figure class="orbit-figure">
                      <img src="{{ asset('img/catClinic/catClininc-3.png') }}" alt="" />
                    </figure>
                  </li>
                </ul>
                
              </div>
              
              <nav class="orbit-bullets">
                <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
              </nav>
            </div>
            
          </section>
        {% endfor %}
      <div id="openedOrbitBack" aria-hidden="true" data-status="closed"></div>
    </div>
  </article>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('stylesheets/js/orbit.js') }}"></script>
{% endblock %}