{% extends 'base.html.twig' %}

{% block title %} Accueil {{ parent() }} {% endblock %}


{% block leftMenu %}
  {{ render(controller('App\\Controller\\leftMenuController::xpprosLeftMenu')) }}
{% endblock %}

{% block contentBody %}
  <article id="content">
    <div id="xppros">
      <h1>Expérience professionnelle</h1>
      
        {% for xpproImage in xpproImages %}

          {% if 'Stage' in xpproImage.xpPro.contractType.longName %}
              {% set stageClass = 'stage' %}
          {% else %}
              {% set stageClass = '' %}
          {% endif %}

          <section>
            <div class="explain">
              <div class="header {{ stageClass }}">
                <h2 id="{{ xpproImage.xpPro.anchor }}">{{ xpproImage.xpPro.title }}</h2>
                {% if IE %}
                  {% set href = 'img/' ~ contractTypeHref ~ '/' ~ xpproImage.xpPro.contractType.pngHref %}
                {% else %}
                    {% set href = 'img/' ~ contractTypeHref ~ '/' ~ xpproImage.xpPro.contractType.svgHref %}
                {% endif %}
                <img class="{{ stageClass }}" src="{{ asset(href) }}" alt="{{ xpproImage.xpPro.contractType.longName }}" />
              </div>
                {{ xpproImage.xpPro.explanation | raw }}
            </div>
            <div class="sticky-container">
              
              {% if IE and '.svg' in xpproImage.image.filename %}
                {% set src = asset(xppro_dir ~ '/' ~ 'converted/' ~ xpproImage.image.filename)|replace({'.svg': '.png'}) %}
                
              {% elseif not IE or '.svg' not in xpproImage.image.filename %}
                {% set src = asset(xppro_dir ~ '/' ~ xpproImage.image.filename) %}
              {% endif %}
              
              <img class="illustration-right" src="{{ src }}" alt="" />
            </div>
          </section>
        {% endfor %}
      
    </div>
  </article>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('stylesheets/js/browser.js') }}"></script>
{% endblock %}