<section id="{{ skillImage.skill.anchor }}" class="page" aria-labelledby="{{ 'title-' ~ skillImage.skill.anchor }}" data-active="{{ active }}">

    <div class="innerPage">
        <div class="explanation">
            {{ skillImage.skill.explanation|raw }}
        </div>

        <div class="illustration">
            <img src="{{ asset(new_skill_dir ~ '/' ~ skillImage.image.filename) }}" alt="" />
        </div>
    </div>
</section>