<section id="{{ skillImage.skill.anchor }}" class="page" aria-labelledby="{{ 'title-' ~ skillImage.skill.anchor }}" data-active="{{ active }}">

    <div class="innerPage">
        <div class="explanation">
            {#<h2 id="{{ 'title-' ~ skillImage.skill.anchor }}">{{ skillImage.skill.title }}</h2>#}

            {{ skillImage.skill.explanation|raw }}

        </div>

        {{ include('SVG/slider.svg') }}

        <div class="illustration">
            <img src="{{ asset(skill_dir_new ~ '/' ~ skillImage.image.filename) }}" alt="" />
        </div>
    </div>
</section>